# resources here are used to configure keycloak instance for SSO
apiVersion: v1
kind: ServiceAccount
metadata:
  name: keycloak-config
  namespace: keycloak
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keycloak-config
  namespace: keycloak
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keycloak-config
  namespace: keycloak
subjects:
  - kind: ServiceAccount
    name: keycloak-config
    namespace: keycloak
roleRef:
  kind: Role
  name: keycloak-config
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keycloak-config
  namespace: argocd
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keycloak-config
  namespace: argocd
subjects:
  - kind: ServiceAccount
    name: keycloak-config
    namespace: keycloak
roleRef:
  kind: Role
  name: keycloak-config
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-job
  namespace: keycloak
data:
  client-scope-groups-payload.json: |
    {
      "name": "groups",
      "description": "groups a user belongs to",
      "attributes": {
          "consent.screen.text": "Access to groups a user belongs to.",
          "display.on.consent.screen": "true",
          "include.in.token.scope": "true",
          "gui.order": ""
      },
      "type": "default",
      "protocol": "openid-connect"
    }
  group-admin-payload.json: |
    {"name":"admin"}
  group-base-user-payload.json: |
    {"name":"base-user"}
  group-mapper-payload.json: |
    {
        "protocol": "openid-connect",
        "protocolMapper": "oidc-group-membership-mapper",
        "name": "groups",
        "config": {
          "claim.name": "groups",
          "full.path": "false",
          "id.token.claim": "true",
          "access.token.claim": "true",
          "userinfo.token.claim": "true"
        }
    }
  realm-payload.json: |
    {"realm":"cnoe","enabled":true}
  user-password.json: |
    {
        "temporary": false,
        "type": "password",
        "value": "${USER1_PASSWORD}"
    }
  user-user1.json: |
    {
        "username": "user1",
        "email": "",
        "firstName": "user",
        "lastName": "one",
        "requiredActions": [],
        "emailVerified": false,
        "groups": [
          "/admin"
        ],
        "enabled": true
    }
  user-user2.json: |
    {
        "username": "user2",
        "email": "",
        "firstName": "user",
        "lastName": "two",
        "requiredActions": [],
        "emailVerified": false,
        "groups": [
          "/base-user"
        ],
        "enabled": true
    }
  argo-client-payload.json: |
    {
      "protocol": "openid-connect",
      "clientId": "argo-workflows",
      "name": "Argo Workflows Client",
      "description": "Used for Argo Workflows SSO",
      "publicClient": false,
      "authorizationServicesEnabled": false,
      "serviceAccountsEnabled": false,
      "implicitFlowEnabled": false,
      "directAccessGrantsEnabled": true,
      "standardFlowEnabled": true,
      "frontchannelLogout": true,
      "attributes": {
        "saml_idp_initiated_sso_url_name": "",
        "oauth2.device.authorization.grant.enabled": false,
        "oidc.ciba.grant.enabled": false
      },
      "alwaysDisplayInConsole": false,
      "rootUrl": "",
      "baseUrl": "",
      "redirectUris": [
        "https://argo.cnoe.localtest.me:8443/oauth2/callback"
      ],
      "webOrigins": [
        "/*"
      ]
    }

  backstage-client-payload.json: |
    {
      "protocol": "openid-connect",
      "clientId": "backstage",
      "name": "Backstage Client",
      "description": "Used for Backstage SSO",
      "publicClient": false,
      "authorizationServicesEnabled": false,
      "serviceAccountsEnabled": false,
      "implicitFlowEnabled": false,
      "directAccessGrantsEnabled": true,
      "standardFlowEnabled": true,
      "frontchannelLogout": true,
      "attributes": {
        "saml_idp_initiated_sso_url_name": "",
        "oauth2.device.authorization.grant.enabled": false,
        "oidc.ciba.grant.enabled": false
      },
      "alwaysDisplayInConsole": false,
      "rootUrl": "",
      "baseUrl": "",
      "redirectUris": [
        "https://backstage.cnoe.localtest.me:8443/api/auth/keycloak-oidc/handler/frame"
      ],
      "webOrigins": [
        "/*"
      ]
    }

---
apiVersion: batch/v1
kind: Job
metadata:
  name: config
  namespace: keycloak
  annotations:
    argocd.argoproj.io/hook: PostSync
spec:
  template:
    metadata:
      generateName: config
    spec:
      serviceAccountName: keycloak-config
      restartPolicy: Never
      volumes:
        - name: keycloak-config
          secret:
            secretName: keycloak-config
        - name: config-payloads
          configMap:
            name: config-job
      containers:
        - name: kubectl
          image: ghcr.io/cnoe-io/tools-image:latest
          volumeMounts:
            - name: keycloak-config
              readOnly: true
              mountPath: "/var/secrets/"
            - name: config-payloads
              readOnly: true
              mountPath: "/var/config/"
          command: ["/bin/bash", "-c"]
          args:
            - |
              #! /bin/bash
              set -ex -o pipefail
              ADMIN_PASSWORD=$(cat /var/secrets/KEYCLOAK_ADMIN_PASSWORD)
              USER1_PASSWORD=$(cat /var/secrets/USER_PASSWORD)
 
              KEYCLOAK_TOKEN=$(curl -sS  --fail-with-body -X POST -H "Content-Type: application/x-www-form-urlencoded" \
                --data-urlencode "username=cnoe-admin" \
                --data-urlencode "password=${ADMIN_PASSWORD}" \
                --data-urlencode "grant_type=password" \
                --data-urlencode "client_id=admin-cli" \
                http://keycloak.keycloak.svc.cluster.local:8080/realms/master/protocol/openid-connect/token | jq -e -r '.access_token')
 
              set +e
 
              curl --fail-with-body -H "Authorization: bearer ${KEYCLOAK_TOKEN}"  'http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe'  &> /dev/null
              if [ $? -eq 0 ]; then
                echo "Realm already exists!"
                exit 0
              fi
              set -e

              echo "creating cnoe realm and groups"
 
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/realm-payload.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms
 
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/client-scope-groups-payload.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/client-scopes
 
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/group-admin-payload.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/groups
 
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/group-base-user-payload.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/groups
 
              # Create scope mapper
              echo 'adding group claim to tokens'
              curl -sS -H "Content-Type: application/json" 
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X GET  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/client-scopes \
                | jq -e -r  '.[] | select(.name == "groups") | .id' > /tmp/client-scope-groups-id
              cat /tmp/client-scope-groups-id
              CLIENT_SCOPE_GROUPS_ID=$(cat client-scope-groups-id)

              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/group-mapper-payload.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/client-scopes/${CLIENT_SCOPE_GROUPS_ID}/protocol-mappers/models
 
              echo "creating test users"
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/user-user1.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/users

              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/user-user2.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/users

              USER1ID=$(curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" 'http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/users?lastName=one' | jq -r '.[0].id')
              USER2ID=$(curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" 'http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/users?lastName=two' | jq -r '.[0].id')
 
              echo "setting user passwords"
              jq -r --arg pass ${USER1_PASSWORD}  '.value = $pass' /var/config/user-password.json > /tmp/user-password-to-be-applied.json
 
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X PUT --data @/tmp/user-password-to-be-applied.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/users/${USER1ID}/reset-password
 
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X PUT --data @/tmp/user-password-to-be-applied.json \
                http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/users/${USER2ID}/reset-password
 
              echo "creating Argo Workflows client"
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                  -X POST --data @/var/config/argo-client-payload.json \
                  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients
 
              curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X GET http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients 
                | jq -e -r  '.[] | select(.clientId == "argo-workflows") | .id' > /tmp/argo-workflows-client-id
              cat /tmp/argo-workflows-client-id

              ARGO_WORKFLOWS_CLIENT_ID=$(cat /tmp/argo-workflows-client-id)

              curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X GET  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/client-scopes \
                | jq -e -r  '.[] | select(.name == "groups") | .id' > /tmp/argo-workflows-client-scope-groups-id
              cat /tmp/argo-workflows-client-scope-groups-id
              ARGO_WORKFLOWS_CLIENT_SCOPE_GROUPS_ID=$(cat /tmp/argo-workflows-client-scope-groups-id)

              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X PUT  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients/${ARGO_WORKFLOWS_CLIENT_ID}/default-client-scopes/${ARGO_WORKFLOWS_CLIENT_SCOPE_GROUPS_ID}

              curl -sS -H "Content-Type: application/json" \
              -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
              -X GET http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients/${ARGO_WORKFLOWS_CLIENT_ID} \
              | jq -e -r '.secret' > /tmp/argo-workflows-client-secret
              cat /tmp/argo-workflows-client-secret
              ARGO_WORKFLOWS_CLIENT_SECRET=$(cat /tmp/argo-workflows-client-secret)

              echo "creating Backstage client"
              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X POST --data @/var/config/backstage-client-payload.json \
                  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients

              curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X GET http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients \
                | jq -e -r  '.[] | select(.clientId == "backstage") | .id' > /tmp/backstage-client-id
              cat /tmp/backstage-client-id
              BACKSTAGE_CLIENT_ID=$(cat /tmp/backstage-client-id)

              curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X GET  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/client-scopes \
                | jq -e -r  '.[] | select(.name == "groups") | .id' > /tmp/backstage-client-scope-groups-id
              cat /tmp/backstage-client-scope-groups-id
              BACKSTAGE_CLIENT_SCOPE_GROUPS_ID=$(cat /tmp/backstage-client-scope-groups-id)

              #curl -sS -H "Content-Type: application/json" \
              curl -v -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X PUT  http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients/${BACKSTAGE_CLIENT_ID}/default-client-scopes/${BACKSTAGE_CLIENT_SCOPE_GROUPS_ID}

              curl -sS -H "Content-Type: application/json" \
                -H "Authorization: bearer ${KEYCLOAK_TOKEN}" \
                -X GET http://keycloak.keycloak.svc.cluster.local:8080/admin/realms/cnoe/clients/${BACKSTAGE_CLIENT_ID} | jq -e -r '.secret' > /tmp/backstage-client-secret
              cat /tmp/backstage-client-secret
              BACKSTAGE_CLIENT_SECRET=$(cat /tmp/backstage-client-secret)

              ./kubectl -n argocd get secret argocd-initial-admin-secret \
                -o go-template='{{.data.password | base64decode }}' > /tmp/argocd-password
              cat /tmp/argocd-password
              ARGOCD_PASSWORD=$(cat /tmp/argocd-password)

              echo "Getting ArgoCD Session Token"
              curl -sS http://argocd-server.argocd.svc.cluster.local:443/api/v1/session \
                -d "{\"username\":\"admin\",\"password\":\"${ARGOCD_PASSWORD}\"}" | jq -r .token > /tmp/argocd-session-token
              cat /tmp/argocd-session-token
              ARGOCD_SESSION_TOKEN=$(cat /tmp/argocd-session-token)

              echo \
              "apiVersion: v1
              kind: Secret
              metadata:
                name: keycloak-clients
                namespace: keycloak
              type: Opaque
              stringData:
                ARGO_WORKFLOWS_CLIENT_SECRET: ${ARGO_WORKFLOWS_CLIENT_SECRET}
                ARGO_WORKFLOWS_CLIENT_ID: argo-workflows
                ARGOCD_SESSION_TOKEN: ${ARGOCD_SESSION_TOKEN}
                BACKSTAGE_CLIENT_SECRET: ${BACKSTAGE_CLIENT_SECRET}
                BACKSTAGE_CLIENT_ID: backstage
              " > /tmp/secret.yaml

              cat /tmp/secret.yaml

              ./kubectl apply -f /tmp/secret.yaml
