---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: ingress-controller-traefik
    app.kubernetes.io/name: traefik
    app.kubernetes.io/part-of: ingress-nginx
  name: ingress-controller
  namespace: traefik
spec:
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - appProtocol: {{ .Protocol }}
      name: {{ .Protocol }}-{{ .Port }}
      port: {{ .Port }}
      protocol: TCP
      targetPort: {{ .Protocol }}
    - appProtocol: http
      name: http
      port: 80
      protocol: TCP
      targetPort: http
    - appProtocol: https
      name: https
      port: 443
      protocol: TCP
      targetPort: https
  selector:
    app.kubernetes.io/name: traefik
    app.kubernetes.io/instance: ingress-controller-traefik
  type: NodePort
