kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: "kindest/node:{{ .KubernetesVersion }}"
  labels:
    ingress-ready: "true"
  extraPortMappings:
  - containerPort: {{ if (eq .Protocol "http")  -}} 80 {{- else -}} 443 {{- end }}
    hostPort: {{ .Port }}
    protocol: TCP
  - containerPort: 10
    hostPort: 1000
    protocol: TCP
  {{ range .ExtraPortsMapping -}}
  - containerPort: {{ .ContainerPort }}
    hostPort: {{ .HostPort }}
    protocol: TCP
  {{ end }}
containerdConfigPatches:
- |-
  {{ if .UsePathRouting -}}
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ .Host }}:{{ .Port }}"]
    endpoint = ["https://{{ .Host }}"]
  [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ .Host }}".tls]
    insecure_skip_verify = true
  {{- else -}}
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."gitea.{{ .Host }}:{{ .Port }}"]
    endpoint = ["https://gitea.{{ .Host }}"]
  [plugins."io.containerd.grpc.v1.cri".registry.configs."gitea.{{ .Host }}".tls]
    insecure_skip_verify = true
  {{- end -}}
