apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.8.1/deploy/static/provider/cloud/deploy.yaml

patches:
  - path: deployment-ingress-nginx.yaml
  - path: cm-ingress-nginx-controller.yaml
  - target:
      group: ""
      version: v1
      kind: Service
      name: ingress-nginx-controller
      namespace: ingress-nginx
    patch: |
      $patch: delete
      kind: Kustomization
      metadata:
        name: ingress-nginx-controller
