apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-tls-certs-cm
  labels:
    app.kubernetes.io/name: argocd-tls-certs-cm
    app.kubernetes.io/part-of: argocd
data:
  'gitea.{{.Host}}': |
    {{ .SelfSignedCert | indentNewLines 4 }}
  '{{.Host}}': |
    {{ .SelfSignedCert | indentNewLines 4 }}
