{{- if .UsePathRouting }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-path-oci-root
  namespace: gitea
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 1024m
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .IngressHost }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2
            pathType: Prefix
{{- if ne .IngressHost .Host }}
    - host: {{ .Host }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2
            pathType: Prefix
{{ end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-path-oci-repo
  namespace: gitea
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 1024m
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /v2/$2
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .IngressHost }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2/gitea(/|$)(.*)
            pathType: ImplementationSpecific
{{- if ne .IngressHost .Host }}
    - host: {{ .Host }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2/gitea(/|$)(.*)
            pathType: ImplementationSpecific
{{ end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-path
  namespace: gitea
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 1024m
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .IngressHost }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /gitea(/|$)(.*)
            pathType: ImplementationSpecific
{{- if ne .IngressHost .Host }}
    - host: {{ .Host }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /gitea(/|$)(.*)
            pathType: ImplementationSpecific
{{ end }}
{{ else }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-custom
  namespace: gitea
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 1024m
spec:
  ingressClassName: nginx
  rules:
    - host: gitea.{{ .IngressHost }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
{{- if ne .IngressHost .Host }}
    - host: gitea.{{ .Host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
{{ end }}
{{ end }}
