{{- if .UsePathRouting }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-prefix
  namespace: gitea
spec:
  stripPrefix:
    prefixes:
      - /gitea
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oci-repo-rewrite
  namespace: gitea
spec:
  replacePathRegex:
    regex: ^/v2/gitea/(.*)
    replacement: /v2/$1
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-path-oci-root
  namespace: gitea
spec:
  ingressClassName: traefik
  rules:
    - host: {{ .IngressHost }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2
            pathType: Prefix
{{- if ne .IngressHost .Host }}
    - host: {{ .Host }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2
            pathType: Prefix
{{ end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-path-oci-repo
  namespace: gitea
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: gitea-oci-repo-rewrite@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: {{ .IngressHost }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2/gitea
            pathType: Prefix
{{- if ne .IngressHost .Host }}
    - host: {{ .Host }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /v2/gitea
            pathType: Prefix
{{ end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-path
  namespace: gitea
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: gitea-strip-prefix@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
    - host: {{ .IngressHost }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /gitea
            pathType: Prefix
{{- if ne .IngressHost .Host }}
    - host: {{ .Host }}
      http:
        paths:
          - backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
            path: /gitea
            pathType: Prefix
{{ end }}
{{ else }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-gitea-custom
  namespace: gitea
spec:
  ingressClassName: traefik
  rules:
    - host: gitea.{{ .IngressHost }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
{{- if ne .IngressHost .Host }}
    - host: gitea.{{ .Host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: my-gitea-http
                port:
                  number: 3000
{{ end }}
{{ end }}
