kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: "kindest/node:{{ .KubernetesVersion }}"
  labels:
    ingress-ready: "true"
  extraPortMappings:
  - containerPort: {{ if (eq .Protocol "http")  -}} 80 {{- else -}} 443 {{- end }}
    hostPort: {{ .Port }}
    {{- if .StaticPassword }}
    listenAddress: "127.0.0.1"
    {{- end }}
    protocol: TCP
  - containerPort: 32222
    hostPort: 32222
    protocol: TCP
  {{- range .ExtraPortsMapping }}
  - containerPort: {{ .ContainerPort }}
    hostPort: {{ .HostPort }}
    protocol: TCP
  {{- end }}
  extraMounts:
  - containerPath: /etc/containerd/certs.d
    hostPath: {{ .RegistryCertsDir }}
{{- if .RegistryConfig }}
  - containerPath: /var/lib/kubelet/config.json
    hostPath: {{ .RegistryConfig }}
{{- end }}
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry]
    config_path = "/etc/containerd/certs.d"
