name: E2E

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
  repository_dispatch:
    types: [e2e-command]
jobs:
  e2e:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: '1.22'
      - name: Run tests
        run: |
          make e2e
