name: E2E

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.go'
      - 'go.sum'
      - 'go.mod'
jobs:
  e2e:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Run tests
        run: |
          make e2e
